<nav class="nav1 navbar navbar-expand-lg navbar-light fixed-top ">
        <div class="container">
          <a class="text-warning navbar-brand" href="/"><i class="bi bi-flower1 h1"></i> Coffee Shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bg-warning navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ms-auto ">
              <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
              <a class="nav-link text-light" href="#about">About Us</a>
              <a class="nav-link text-light" href="#menu">Menu</a>
              <a class="nav-link text-light" href="#review">Review</a>
              <a class="nav-link text-light d-none d-sm-block" href="#contact">Contact</a>
              <a class="nav-link text-light" href="#blog">Blog</a>
              <a class="nav-link text-light" href="/users/login">Login</a>
              <a class="nav-link text-light" href="/users/register">Sign Up</a>
             
            </div>
          </div>
        </div>
</nav>
<div class="pic1" id="home">
   <div class="row">
     <div class="col-md-5">
       <h1 style="margin-top: 170px;font-size: 35px ;" class="fw-4 container text-warning"><b><span class="text-light" style="font-size: 50px">FRESH COFFEE</span> <br> IN THE MORNING</b></h1>
       <p class="lead container text-light">Here at <span class="text-warning">Coffee Shop</span> delivering the best coffee is our top priority and our coffee are made 
      by the best chef in the country</p>
      <div class="container">
        <button style="width: 170px;"  class=" container btn btn-warning"><a style="text-decoration: none; color: white;" href="tel:+254793910610">Call Us Now</a></button>
      </div>
     </div>
   </div>
</div>
<section class="container p-4  text-light about" id="about">
  <h1 class="text-center"><span class="text-warning">ABOUT</span> US</h1>
  <div class="row">
    <div class="col-md-6 pic2"></div>
    <div class="col-md-6">
      <h3 class="text-center mt-5 text-secondary">What Makes Our Coffee Special?</h3>
      <p class="container">Us as Coffee shop team our top priority is to ensure that our customers receive the best of the best coffee here in the country and also
        to the outside world,to achieve this,a selected team is in charge of doing research on various coffee products and refining them to bring out the very
        best coffee there is to be
      </p>
      <p class="container">To Achieve the best results in the making of our coffee in the kitchen,We ensure we choose the best chef in the various
        institutions across the world
      </p>
      <div class="container">
        <button class="btn btn-warning">Learn More</button>
      </div>
    </div>
  </div>
</section>
<section class="container p-4  " id="menu">
  <h1 class="text-center text-light">OUR<span class="text-warning"> MENU</span></h1>
  <div class="row">
    <div class="col-md-4 g-5">
      <div class="card menu">
        <div class="card-body text-center">
          <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee7.jpg" alt="">
          <h4 class="text center mt-3">Tasy and Healty</h4>
          <h3>$15.99 <small style="text-decoration: line-through; color: silver; font-size: 15px;">820.99</small></h3>
          <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 g-5">
      <div class="card menu">
        <div class="card-body text-center">
          <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee15.jpg" alt="">
          <h4 class="text center mt-3">Tasy and Healty</h4>
          <h3>$14.99 <small style="text-decoration: line-through; color: silver; font-size: 15px;">980.99</small></h3>
          <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 g-5">
      <div class="card menu">
        <div class="card-body text-center">
          <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee16.jpg" alt="">
          <h4 class="text center mt-3">Tasy and Healty</h4>
          <h3>$9.99 <small style="text-decoration: line-through; color: silver; font-size: 15px;">786.99</small></h3>
          <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 g-5">
      <div class="card menu">
      <div class="card-body text-center">
        <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee14.jpg" alt="">
        <h4 class="text center mt-3">Tasy and Healty</h4>
        <h3>$8.99 <small style="text-decoration: line-through; color: silver; font-size: 15px;">99.99</small></h3>
        <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
      </div>
    </div>
  </div>
    <div class="col-md-4 g-5">
      <div class="card menu">
        <div class="card-body text-center">
          <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee10.jpg" alt="">
          <h4 class="text center mt-3">Tasy and Healty</h4>
          <h3>$13.99 <small style="text-decoration: line-through; color: silver; font-size: 15px;">910.99</small></h3>
          <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 g-5">
      <div class="card menu">
        <div class="card-body text-center">
          <img style="width: 100px; height: 100px; border-radius: 50%;" class="image-fluid pic3 " src="../images/coffee2.jpg" alt="">
          <h4 class="text center mt-3">Tasy and Healty</h4>
          <h3>$18.00 <small style="text-decoration: line-through; color: silver; font-size: 15px;">510.99</small></h3>
          <a href="#" class="btn btn-outline-warning" title="Create an Account to place an order">Place Order</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container p-5" id="review">
  <h2 class="text-center text-light mb-3"> CUSTOMER'S <span class="text-warning">REVIEW</span></h2>
  <div class="row mt-3">
    <div class="col-md-4 g-5">
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestias quasi itaque
            hic omnis cum. Minus ea iusto aliquam fuga quidem deserunt! Officia, ipsum obcaecati!</p>
            <img src="https://randomuser.me/api/portraits/men/10.jpg" 
            class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Rollins Shadrack</h3>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-half text-warning"></i>
                 <i class="bi bi-star text-warning"></i>
        </div>
    </div>
    </div>
    <div class="col-md-4 g-5">
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestias quasi itaque
            hic omnis cum. Minus ea iusto aliquam fuga quidem deserunt! Officia, ipsum obcaecati!</p>
            <img src="https://randomuser.me/api/portraits/women/17.jpg" 
            class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Ritchelle Sharon</h3>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star text-warning"></i>
        </div>
    </div>
    </div>
    <div class="col-md-4 g-5">
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestias quasi itaque
            hic omnis cum. Minus ea iusto aliquam fuga quidem deserunt! Officia, ipsum obcaecati!</p>
            <img src="https://randomuser.me/api/portraits/women/16.jpg" 
            class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Melvin Tonia</h3>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star-fill text-warning"></i>
                 <i class="bi bi-star text-warning"></i>
        </div>
    </div>
    </div>
  </div>
</section>
<section class="container p-5 text-light" id="contact">
  <h1 class="text-center mb-4 d-none d-sm-block"><span class="text-warning">CONTACT </span>US</h1>
  <div class="row">
    <div class="col-md-6 g-4">
      <img src="../images/Show-Nearby-Places-jQuery-Google-Maps-WhatsNearby.jpg" alt="" class="image-fluid d-none d-sm-block">
    </div>
    <div class="col-md-6 g-4">
      <h3 class="text-center d-none d-sm-block">WHERE TO FIND US</h3>
      <div class="d-none d-sm-block">
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item"><span class="fw-bold">Main Location:</span> 
          Nairobi,National Archives</li>
     
      <li class="list-group-item"><span class="fw-bold">Phone number:</span>+254793910610
        </li>
     
      <li class="list-group-item"><span class="fw-bold">Country:</span> 
          Kenya</li>
      
      <li class="list-group-item"><span class="fw-bold"> Email:</span>rshadrackochieng@gmail.com 
      </li>
      </ul>
      </div>
    </div>
  </div>
</section>
<section class="container text-light p-5" id="blog">
  <h1 class="text-light text-center mb-4">OUR <span class="text-warning">BLOGS</span></h1>
  <div class="row">
    <div class="col-md-4 g-4">
      <div class="card   bg-dark">
        <div class="card-image text-center "><img src="../images/favcoffee.jpg" alt="" style="width: 330px; height: 200px;" class="image-fluid blog"></div>
        <div class="card-title text-center mt-3"><h4>Tasty and Refreshing Coffee</h4></div>
        <div class="card-body text-center">
          <h6 class="text-warning">By Admin/1st January 2022</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum?</p>
          <button class="btn btn-outline-warning">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 g-4">
      <div class="card  bg-dark">
        <div class="card-image text-center  "><img src="../images/coffee15.jpg" alt="" style="width: 330px; height: 200px;" class="image-fluid blog"></div>
        <div class="card-title text-center mt-3"><h4>Tasty and Refreshing Coffee</h4></div>
        <div class="card-body text-center">
          <h6 class="text-warning">By Admin/1st January 2022</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum?</p>
          <button class="btn btn-outline-warning">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 g-4">
      <div class="card   bg-dark">
        <div class="card-image text-center "><img src="../images/coffee1.jpg" alt="" style="width: 330px; height: 200px;" class="image-fluid blog"></div>
        <div class="card-title text-center mt-3"><h4>Tasty and Refreshing Coffee</h4></div>
        <div class="card-body text-center">
          <h6 class="text-warning">By Admin/1st January 2022</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum?</p>
          <button class="btn btn-outline-warning">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container text-center text-light p-3">
  <div>
    <i class="bi bi-facebook h3 text-primary mx-1 icon "></i>
    <i class="bi bi-whatsapp h3 text-success mx-1 icon"></i>
    <i class="bi bi-twitter h3 text-info mx-1 icon"></i>
    <i class="bi bi-instagram h3 text-danger mx-1 icon"></i>
  </div>
  <div class="text-center mt-2"><h3>Created By <strong class="text-warning">Roll</strong>tech Copyright &copy; 2022</h3></div>
</section>

