<div class="mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h3>Set Password</h3>
            <%- include ("./partials/messages") %>
            <form action="/users/update" method="POST" name="form1">
                <input type="hidden" name="token" class="form-control" value="<%= token %>">
                <div class="form-group">
                    <label for="inputEmail">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter new Password">
                </div>
                <input type="submit" class="btn btn-success" value="Reset Password">
            </form>
        </div>
    </div>
</div>