body{
    background-color: black;
    margin: 0;
    padding: 0;
    
}
.nav1{
    background-color: black;
}
.pic1{
    background-image: url("../images/3a0694ed94296bfc5da8939622766a40.jpg");
    background-repeat: no-repeat;
    height: 600px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;

}

.navbar .navbar-nav .nav-link::after{
    content: " ";
    color: rgb(24, 173, 241);
    display: block;
    width:0 ;
    height: 2px;
    background: transparent;
    transition: color 0.3s width 0.3s ease,background-color .3s ease;
}
.navbar .navbar-nav .nav-link:hover::after{
    width: 100%;
    background: yellow;
    color: white;
}
.pic2{
    background-image: url("../images/coffee6.jpg");
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
.menu{
    background-color: black;
    color: white;
}
.menu:hover{
    background-color: white;
    color: black;
}
.pic3:hover{
    transform: scale(1.3);
}
.blog:hover{
    transform: scale(1.2);
    border-radius: 10px;
}
@media(max-width:500px){
    .blog{
        width: 200px;
        height: 150px;
    }
}
.icon:hover{
    transform: scaleY(1.5);
}
